.body{
    background-color:lightskyblue;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}

.h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    font-weight:lighter;
}

.h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img:hover{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    border-radius:140px;
}



